logbook~=1.5.3
pyjwt==2.1.0
mysql-connector-python~=8.0.26
requests~=2.23.0
sqlalchemy==1.4.11
jsonschema
fastapi~=0.63.0
uvicorn[standard]~=0.13.4
pydantic~=1.8.1
PyYAML~=5.3.1
starlette~=0.13.6
aiohttp==3.7.4
aiomysql
Jinja2
aiofiles
psycopg2-binary
APScheduler~=3.8.0
redis~=3.5.3
redis-py-cluster
redlock~=1.2.0
yagmail
oss2
python-multipart
awaits
aioify